root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[src/i18n/**.{json,json.txt}]
end_of_line = crlf
indent_width = 2
insert_final_newline = true

[src/behavior/**.json]
end_of_line = lf
indent_style = tab
insert_final_newline = false

[*.{lua,md}]
indent_style = tab

[*.{json,yml}]
indent_style = spaces
indent_width = 2